<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.gnibbuq.mapper.AdminMapper">


    <select id="queryUserByUsername" resultType="User">

        select username,password from user where username = #{username}
    </select>

    <select id="queryByUsername" resultType="User">
        select username from user where username = "%" #{username} "%"
    </select>

    <select id="querySuperPasswordBySuperAdmin" resultType="User">
        select username,password from user where username = #{adminstr}
    </select>

    <select id="queryByDepository" resultType="Admin">
        select depository_name from depository where depository_name = "%" #{depositoryName} "%"
    </select>

    <insert id="depositoryId" >
        <selectKey>
            select LAST_INSERT_ID()
        </selectKey>
        insert into depository (id,depository_name) value (null,#{depositoryName})
    </insert>

    <insert id="addAdmin" >
        insert into user (user_id, username, password, depository_id) value (null,#{username},#{password},#{depositoryId})
    </insert>
</mapper>