<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.gnibbuq.mapper.AdminMapper">


    <select id="queryUserByUsername" resultType="User">

        select username,password from user where username = #{username}
    </select>

    <select id="queryByUsername" resultType="User">
        select username from user where username = "%" #{username} "%"
    </select>

    <select id="querySuperPasswordBySuperAdmin" resultType="User">
        select username,password from user where username = #{adminstr}
    </select>

    <insert id="depositoryId" >

    </insert>

    <insert id="addAdmin" >
        insert into user (user_id, username, password, ) value ()
    </insert>
</mapper>